.video-card {
  width: 100%;
}

.video-card + .video-card {
  margin-top: 40px;
}

.video-card__image-wrapper {
  position: relative;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.video-card__image {
  position: absolute;
  top: 50%;
  width: 100%;
  height: auto;
  transform: translate(0, -50%);
}

.video-card__title {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
}

.video-card__date {
  display: block;
  margin-top: 10px;
}
