@font-face {
  font-family: "Oswald";
  src: url("/Oswald-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
  font-weight: 300 400;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 300; 
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input {
  font-family: "Oswald", sans-serif;
}
